body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

input,
button,
h1,
h2,
h3,
a {
  width: 20%;
  height: 100px;
  margin-top: 30px;
  align-self: center;
  text-align: center;
  word-wrap: break-word;
  text-decoration: none;
}

h3 {
  opacity: 0.4;
  color: green;
}

a {
  color: black;
  border: dotted black 1px;
  padding-top: 20px;
  height: 40px;
  opacity: 0.2;
}
